@use 'colors.module.scss';


.application-status {
    &.container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 10px;
    }

    &.section {
        text-align: center;
        cursor: pointer;
    }

    &.icon-container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 22px;
        transition: background 0.2s, color 0.2s;
        

        &.complete {
            background: colors.$primary;
            color: #fff;
        }

        &.incomplete {
            background: #e9ecef;
            color: white;
            border: 2px solid #ced4da;
        }

        &.inProgress {
            background: #d5b37f;
            color: #fff;
        }
    }

    &.icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.label {
        font-weight: 500;
        font-size: 14px;
    }
} 